<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='col-sm-3'>
    <h2>
      <strong>Team:</strong>
      <%= @team.name %>
    </h2>
    <%= show_page_bottom_links(@team) %>
  </div>

  <div class='col-sm-4'>
    <%= render "tasks_list" %>
  </div>

</div>
