<div class='row'>
  <div class='col-xs-6'>
    <h3>Tasks</h3>
    <%= render partial: 'teams/tasks_list', locals: { tasks: @mutant.tasks} %>
  </div>
  <div class='col-xs-6'>
    <h3>Teams</h3>
    <%= render partial: "teams/teams_list", locals: { teams: @mutant.teams } %>
  </div>
</div>
