<div class='row'>
  <div class='col-xs-6'>
    <%= render partial: 'members_list', locals: {mutants: @non_members, action_name: 'Non members', link_creator: create_add_links(@team), table_type: 'non_members' } %>
  </div>
  <div class='col-xs-6'>
    <%= render partial: 'members_list', locals: {mutants: @members, action_name: 'Members', link_creator: create_remove_links(@team), table_type: 'members' } %>
  </div>
</div>

<%= back_button_link(@team) %>
